extends ../../layout/main.pug
block variables
    -var title ="Offer email"
block styles
    style.
        @media only screen and (max-width: 600px) { 
            *[class].w240{
                width: 240px !important;
            }
            *[class].w480{
                width: 480px !important;
            }
            *[class].h60{
                height: 60px !important;
            }
            *[class].h30{
                height: 30px !important;
            }
            *[class].p0{
                padding: 0px !important;
            }
        }     
block content
    table(width='600' border="0" cellspacing="0" cellpadding="0" class="w480")
        tr
            td
                img(src='https://spacergif.org/spacer.gif' height="10px")
        tr
            td(align="center" valign="top" width='600' style=`background: ${maincolor}; padding:10px; ` class="w480")
                span(style=`color:${whitetext};font-size: 21px;font-weight: bold;display: block;`) New Offer Email
                span(style=`color:${whitetext}; margin:0px;`) some example text

    table(width='600' border="0" cellspacing="0" cellpadding="0" style="color: white;background: #657084" class="w480")
        tr
            td(align="center" valign="top" width='600')
                img(src="http://lorempixel.com/600/200" alt="img" class="w480" width='600')
    table(width='600' border="0" cellspacing="0" cellpadding="0" style="color: white;background: #657084" class="w480")
        tr
            td(align="center" valign="top" width="300" height="80" style="padding-top:15px;" class="blockwrap h60 ")
                span(style=`color:${whitetext};font-size: 21px;font-weight: bold;display: block;`) Best offers
                span  We have the best offers for you!
            td(align="center" valign="top" width='300' height="80" style="padding-top:15px; " class="blockwrap h60 p0")
                span(style=`color:${whitetext};font-size: 21px;font-weight: bold;display: block;`) Contact us
                span Phone: +1 999 999 999
    table(width='600' border="0" cellspacing="0" cellpadding="0" style=`color: white;background: ${gray}` class="w480")
        tr
            td(align="center" valign="top" width="300" height="80"  style="padding-top:15px;")
                span(style=`color:${whitetext};font-size: 21px;font-weight: bold;display: block;`)  Latest Offer
                span(style=`margin:0px; padding:5px;`) Get our last offer in our site
        tr
            td(align="center" valign="top" width="300" height="100" style=" background-image:url(http://lorempixel.com/600/100/)")
                img(src='https://spacergif.org/spacer.gif' height="25px")
                span(style=`color:${whitetext};font-size: 21px;font-weight: bold;display: block;`) "Visit offers site"
    include ../../includes/modules/footer.pug

