<!-- START BODY MODULE -->
+columns(2)(width=max_w align="center" class="deviceWidth" style="margin:0 auto;")&attributes(tableAtt)
  +col(0)(style="padding:0 0 0 0; vertical-align: top;")
      table(align="left" width="400" class="deviceWidth")&attributes(tableAtt)
        +vSpacer(23)
        tr
          td(align="center")
            img(src=img_path +yellowBoxes[0] width="306" height="64")
        +vSpacer(23)
        each val in list
          tr
            td(class="padding12" style="padding-left: 30px;")
              table&attributes(tableAtt)
                tr
                  td(valign="top" class="bullet" style="font-size: 15px;padding-right: 2px; vertical-align: 4px; vertical-align: top; font-weight: bold;color: #4fc6ea;") •
                  td(align="left" class="p" style="font-size: 14px;color:#004b7e;padding: 0 0 6px 0; text-align:left;font-family: 'Roboto', Helvetica, sans-serif;font-weight: 400;line-height: 1.3")
                    font !{val}
        +vSpacer(20)
        tr
          td
            table(bgcolor="#1eb5e3"  align="center" width="100%")&attributes(tableAtt)
              +vSpacer(10)
              tr
                td
                  table(class="mobileWidth" align="center" width="100%")&attributes(tableAtt)
                    tr
                      td(width="10" height="11" style="font-size:0px; line-height:11px;mso-line-height-rule:exactly;") &nbsp;
                      td(align="center")
                        table(class="mobileWidth" align="center" width="100%")&attributes(tableAtt)
                          tr
                            td(align="center")
                              font(class="mobile_font_1 mobile_line_height" width="auto" style="font-family: 'Roboto', Helvetica, sans-serif; font-weight: 700; color: #ffffff; font-size: 16px; line-height:19px; text-decoration:none !important; text-decoration:none;").
                                !{graphs.title1}

                      td(width="10" height="14" style="font-size:0px; line-height:14px;mso-line-height-rule:exactly;") &nbsp;

              +vSpacer(13)
        tr
          td(valign="top" bgcolor="#c7edf8")
            div(class="hide")
              img(src=img_path+graphs.img1 alt="PFS in study 1" style="max-width: 100%; width: 100%;")
            <!--[if !mso]><!-->
            div(class="show" style="display: none;")
              img(src=img_path+graphs.img1_mob alt="PFS in study 1" style="max-width: 100%; width: 100%;")
            <!--<![endif]-->

        each val in graphs.desc1
          tr(bgcolor="#d2f0f9")
            td(class="padding12" style="padding-left: 20px;")
              table&attributes(tableAtt)
                tr !{val.sym}
                  td(align="left" style="color:#004b7e; padding: 0 15px 6px 0px; text-align:left;font-family: 'Roboto', Helvetica, sans-serif;font-weight: 400;line-height: 1;font-size:12px;")
                    font.
                      !{val.text}

        +vSpacer(15)(bgcolor="#d2f0f9")
        +vSpacer(23)
        tr
          td(align="center")
            img(src=img_path +yellowBoxes[1] width="306" height="64")

        +vSpacer(23)
        tr
          td
            table(bgcolor="#1eb5e3" align="center" width="100%")&attributes(tableAtt)
              +vSpacer(10)
              tr
                td
                  table(class="mobileWidth" align="center" width="100%")&attributes(tableAtt)
                    tr
                      td(width="10" height="11" style="font-size:0px; line-height:11px;mso-line-height-rule:exactly;") &nbsp;
                      td(align="center")
                        table(class="mobileWidth" align="center" width="100%")&attributes(tableAtt)
                          tr
                            td(align="center")
                              font(class="mobile_font_1 mobile_line_height" width="auto" style="font-family: 'Roboto', Helvetica, sans-serif; font-weight: 700; color: #ffffff; font-size: 16px; line-height:20px; text-decoration:none !important; text-decoration:none;").
                                !{graphs.title2}

                      td(width="10" height="10" style="font-size:0px; line-height:10px;mso-line-height-rule:exactly;") &nbsp;

              +vSpacer(13)

        tr
          td(valign="top" bgcolor="#c7edf8")
            div(class="hide")
              img(src=img_path + graphs.img2 alt="PFS in study 1" style="max-width: 100%; width: 100%;")
            <!--[if !mso]><!-->
            div(class="show" style="display: none;")
              img(src=img_path + graphs.img2_mob alt="PFS in study 1" style="max-width: 100%; width: 100%;")
            <!--<![endif]-->

        tr(bgcolor="#c7edf8")
          td(class="padding12" style="padding-left: 30px;")
            table&attributes(tableAtt)
              tr
                td(align="top" style="padding:0px 2px 6px 0; text-align:left;font-family: 'Roboto', Helvetica, sans-serif;font-weight: 400;line-height: 1;font-size:17px;" class="bullet") •
                td(align="left" style="color:#004b7e;padding:0px 0 15px 0; text-align:left;font-family: 'Roboto', Helvetica, sans-serif;font-weight: 400;line-height: 1;font-size:14px;")
                  font #{graphs.desc2}

        +vSpacer(15)
        tr
          td(style="padding-bottom: 2px; font-size:14px;")
            table&attributes(tableAtt)
              tr
                td(class="padding12" style="color:#004b7e;padding: 0 15px 0 15px;text-align:left;line-height: 1.4;")
                  font #{body.desc}

        +vSpacer(12)
          tr
            td(class="p-small" style="font-size: 12px;line-height:1.2;padding-bottom: 2px;")
              table(bgcolor="#f1fafd")&attributes(tableAtt)
                +vSpacer(14)
                tr
                  td(class="p" style="font-weight:700;color:#004b7e; padding: 0 15px 0px 15px; text-align:left;")
                    font {{module.maintenance.title}}
                +vSpacer(10)
                each val in maintenance.paragraphs
                  tr
                    td(class="padding12" style="color:#004b7e; padding: 0 15px 0 15px; text-align:left;line-height: 1.4;")
                      font #{val}

                +vSpacer(10)
                +vSpacer(4)

          +vSpacer(12)
          tr
            td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;font-weight:700;color:#18bee7;padding:0 15px 5px 15px;font-family: Arial, Helvetica, sans-serif;")
              #{adverse.title}

          tr
            td(class="p-small" style="font-size: 12px;line-height:1.2;padding-bottom: 2px;")
              table&attributes(tableAtt)
                tr
                  td(class="padding12" style="color:#004b7e;padding: 0 15px 0 15px;text-align:left;line-height: 1.4;")
                    #{adverse.paragraph }
  +col(1)(style="padding:0 0 0 0; vertical-align: top;" class="hide")
      table(align="left" width="210" class="deviceWidth")&attributes(tableAtt)
        tr
          td(style="vertical-align: top; padding:0 4px 0 8px")
            table
              tr
                td(align="left" class="p" style="font-weight:700;color:#004b7e;padding: 12px 0 8px 0")
                  a(href=secRow.learn.url)
                    img(src=img_path +secRow.learn.img style="width: 100%;max-width: 100%;")

              tr
                td(style="border: solid 2px #000000; width:100%")
                  table(width="100%")&attributes(tableAtt)
                    tr
                      td(valign="top" style="padding:8px 7px 8px 7px;")
                        table&attributes(tableAtt)
                          tr
                            td(align="center" style="padding-bottom:8px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 12px;font-weight: 700;").
                              Lorem: Ipsum
                              #[br]  Lorem ipsum.
                              #[br]  Lorem ipsum.
                              #[br]  Lorem ipsum.

                          tr
                            td(align="center" style="font-weight:700;font-style:italic;padding-bottom:12px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                               Lorem ipsum.

                          tr
                            td(class="u" style="font-weight:700;padding-bottom:4px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;text-decoration: underline;")  Lorem ipsum.

                          tr
                            td(valign="top")
                              table&attributes(tableAtt)
                                tr
                                  td(valign="top" class="bullet" style="padding-right:2px;vertical-align: top !important;color: black; font-size: 14px;") •
                                  td(align="left" style="font-weight: 700;padding-bottom: 2px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                                     Lorem ipsum.
                                tr
                                  td(valign="top" class="bullet" style="padding-right:2px;color: #000; font-size: 14px;") •
                                  td(align="left" style="font-weight: 700;padding-bottom: 12px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                                     Lorem ipsum.
                          tr
                            td(align="left" style="font-weight: 700;padding-bottom:12px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                               Lorem ipsum.
                          tr
                            td(style="font-weight:700;padding-bottom:4px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                              #[span(class="u" style="text-decoration: underline;")  Lorem ipsum.].
                          tr
                            td(style="font-weight: 700;padding-bottom:2px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;") REVLIMID can cause significant neutropenia and thrombocytopenia.
                          tr
                            td(valign="top")
                              table&attributes(tableAtt)
                                tr
                                  td(valign="top" class="bullet" style="padding-right:2px;color: #000; font-size: 14px;") •
                                  td(align="left" style="font-weight: 700;padding-bottom: 12px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                                     Lorem ipsum.

                          tr
                            td(class="u" style="font-weight:700;padding-bottom:2px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;text-decoration: underline;")  Lorem ipsum.
                          tr
                            td(valign="top")
                              table&attributes(tableAtt)
                                tr
                                  td(valign="top" class="bullet" style="padding-right:2px;color: black; font-size: 14px;") •
                                  td(align="left" style="font-weight:700;padding-bottom: 8px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                                     Lorem ipsum.

              tr
                td(align="left" class=p-small style="font-size: 13px;font-weight:700;color:#004b7e;padding: 5px 0 5px 8px;").
                   Lorem ipsum.
              tr
                td(align="left" class=p-small style="font-size: 13px;font-weight:700;color:#004b7e;padding: 0 0 5px 8px;").
                  Lorem ipsum. #[a(href="#" style="color:#004b7e;") #[br]asdfasdf], #[br] Lorem ipsum.
<!-- END BODY MODULE -->
