// HERO START
div #{test}
  //- #{JSON.stringify(test)}

div(class="hide")
  table(width=max_w class="deviceWidth" align="center" style="margin:0 auto;")&attributes(tableAtt)
    tbody
      tr
        td
          a(href=logo.url)
            img(src=img_path+logo.img alt="Revlimid logo")
        td
          img(src="./img/header/header_img_text.jpg")
<!--[if !mso]><!-->
div(class="show" style="display: none;")
  table(width="100%" align="center" style="text-align: center; border-collapse: collapse;")&attributes(tableAtt)
    tr
      td
        table(width="100%" align="center" style="text-align:left;")&attributes(tableAtt)
          tr
            td(width="100%" valign="top" bgcolor="#ffffff")
              table(width=max_w align="center" bgcolor="#ffffff" class="deviceWidth" style="margin:0 auto;")&attributes(tableAtt)
                tr
                  td(style="padding:0 0 0 0" valign="middle")
                    table(align="left" width="100%" class="deviceWidth")&attributes(tableAtt)
                      tr
                        td(valign="center" align="center" class="logo-pom center" height="155" style="height:155px;text-align: center; vertical-align: middle;")
                          a(href="#{logo.url}" style="text-align: center;" class="center" target="_blank")
                            img(src="./img/header/header_mobile_logo.png" width=max_w border="0" style="width: 100%; display: inline !important;")
                    table(align="right" width=max_w class="hide" height="81")&attributes(tableAtt)
                      tr
                        td(valign="center" width="20" style="width:20px;color:#ffffff;font-size:1px;") &nbsp;
                        td(valign="center" class="center p" style="font-size: 14px;font-weight:700;text-align:left;padding:10px 0 0 0;line-height: 1.1;")
                          p(style="mso-table-lspace:0;mso-table-rspace:0; margin:0;text-align:left;").
                             Lorem ipsum.
                              <br>
                              <br>  Lorem ipsum.
                    table(align="right" width="100%" class="deviceWidth")&attributes(tableAtt)
                      tr
                        td(valign="center" class="center")
                          table(style="display:none;" class="show")&attributes(tableAtt)
                            tr(style="width:0; overflow:hidden; float:left; display:none; max-height:0px; mso-hide:all;" class="me")
                              td
                                table(id="partVisible" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="accordionShow")
                                  tr
                                    td(width="19")
                                    td
                                      table(cellspacing="0" cellpadding="0")
                                        tr
                                          td
                                            a(href="#partVisible" style="display:block; text-decoration:none; color:inherit;")
                                              div
                                                table(width="100%" align="center")&attributes(tableAtt)
                                                  tr
                                                    td(align="left" valign="top")
                                                      table()&attributes(tableAtt)
                                                        tr
                                                          td
                                                            table()&attributes(tableAtt)
                                                              tr
                                                                td(align="left" style="font-family: 'Roboto', Helvetica, Arial, sans-serif;font-size:14px;line-height:1.4;color:#000000;font-weight:bold; text-decoration:none;").
                                                                   Lorem ipsum.#[sup &reg;] #[br] Lorem ipsum.
                                                  tr
                                                    td(valign="top")
                                                      table(align="right")&attributes(tableAtt)
                                                        tr
                                                          td(class="readMore" align="right" valign="middle" style="font-family: 'Open Sans', sans-serif;font-size:8px;line-height:10px; color:#000000;padding-right:15px;")




                                                  tr
                                                    td
                                                      div(class="outerHidden")
                                                        div(class="innerHidden")
                                                          table(width="100%")&attributes(tableAtt)
                                                            tr
                                                              td(align="center" valign="top")
                                                                table(width="100%" align="center")&attributes(tableAtt)
                                                                  tr
                                                                    td(align="left" valign="top" style="font-family: 'Roboto', Helvetica, Arial, sans-serif;font-size:14px;line-height:1.4;color:#000000;font-weight:bold; text-decoration:none;").
                                                                      stem cell transplantation (auto-HSCT)
                                                                      <br>

                                                                  tr
                                                                    td(align="left" valign="top" style="font-family: 'Roboto', Helvetica, Arial, sans-serif;font-size:14px;line-height:1.4;color:#000000;font-weight:bold; text-decoration:none; padding-top: 5px;").
                                                                      REVLIMID is not indicated and is not recommended
                                                                      <br>for the treatment of patients with chronic
                                                                      <br>lymphocytic leukemia (CLL) outside of controlled clinical trials

                                                  tr
                                                    td
                                                      div(class="outerHidden")
                                                        div(class="innerHidden")
                                                          table(width="100%")&attributes(tableAtt)
                                                            tr
                                                              td(align="center" valign="top")
                                                                table(width="100%" align="center")&attributes(tableAtt)
                                                                  tr
                                                                    td(align="left" valign="top" style="font-family: 'Roboto', Helvetica, Arial, sans-serif;font-size:14px;line-height:1.4;color:#000000;font-weight:bold; text-decoration:none;padding-top: 5px;").
                                                                       Lorem ipsum. #[sup ®]#[br]

                                      td(width="10")

                                table(width="100%"  align="center" class="close" style="display: none;")&attributes(tableAtt)
                                  tr
                                    td
                                      table(id="#adv" width="100%"  class="accordionShow")&attributes(tableAtt)
                                        tr
                                          td
                                            a(href="#adv" style="display:block; text-decoration:none; color:inherit;")
                                              div
                                                table(width="100%")&attributes(tableAtt)
                                                  +vSpacer(15)
                                                  tr
                                                    td(align="center" valign="top")
                                                      table(width="100%" align="center")&attributes(tableAtt)
                                                        tr
                                                          td(width="25").
                                                            &nbsp;
                                                          td(height="20" align="right" valign="right" style="font-family: 'Arial', sans-serif;font-size:14px;line-height:23px;color:#000000;font-weight:bold; text-decoration:underline;") Read Less&gt;

                                                          td(valign="top" width="20")
                                                            table(width="20" align="center" class="em_bg" style="border-radius:50%;")&attributes(tableAtt)
                                                              tr

                                                          td(width="10").
                                                            &nbsp;
                                                  +vSpacer(15)

                +vSpacer(5)(bgcolor="#ffb91b")
<!--<![endif]-->
// HERO END
