<!-- START SAFETY MODULE -->
table(width=max_w align="center" class="deviceWidth" style="margin:0 auto;")&attributes(tableAtt)
  tr
    td
      table&attributes(tableAtt)
        tr
          td
            table
              tr
                td
                  td(style="height:10px;" height="10") &nbsp;

              tr
                td
                  a(href=arrow.url)
                    img(src=img_path+arrow.img  style="width: 100%;max-width: 100%;")

              tr
                td
                  td(style="height:10px;" height="10") &nbsp;

        tr
          td(align="left" style="line-height: 1;padding: 5px 15px 5px 15px;font-size: 23px;font-weight:700;color:#18bee7;font-family:'Roboto Condensed', Helvetica, Arial, sans-serif;").
            #{safety.title1}
        tr
          td(style="padding-bottom:15px;padding-left: 12px;padding-right: 12px;")
            table&attributes(tableAtt)
              tr
                td(style="border: solid 2px #000000; width:100%;")
                  table(width="100%")&attributes(tableAtt)
                    tr
                      td(align="top" style="padding:10px 10px 10px 10px;")
                        table&attributes(tableAtt)
                          tr
                            td(align="center" class="p" style="font-weight:700;font-size:14px;padding-bottom:6px;font-family: 'Roboto', Helvetica, Arial, sans-serif;").
                              #{warning.Mtitle}

                          tr
                            td(style="text-decoration:underline;font-weight:700;padding-bottom:4px; padding-bottom:0px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                              #{warning.title1}

                          tr
                            td(valign="top")
                              table&attributes(tableAtt)
                                tr
                                  td(align="left" style="font-weight: 700;padding-bottom: 12px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                                    !{warning.paragraph1 }
                                tr
                                  td(align="left" style="font-weight:700;padding-bottom: 12px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                                    !{warning.moreInfo }

                          tr
                            td(align="left" style="text-decoration:underline;font-weight:700;padding-bottom:0px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                              #{warning.title2 }

                          tr
                            td(style="font-weight:700;padding-bottom:12px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                              #{warning.paragraph2 }

                          tr
                            td(align="left" style="text-decoration:underline;font-weight:700;padding-bottom:0px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                              #{warning.title3 }

                          tr
                            td(style="font-weight:700;padding-bottom:10px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                              #{warning.paragraph3 }


        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;font-weight:700;color:#18bee7;padding:0 0 5px 30px;font-family: Arial, Helvetica, sans-serif;") CONTRAINDICATIONS

        tr
          td(class="padding12" style="padding: 0 42px 0 30px;")
            table&attributes(tableAtt)
              tr
                td(align="left" class="p" style="padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif;").
                  #[span(style="font-weight:700;") Pregnancy:] REVLIMID can cause fetal harm when administered
                    to a pregnant female and is contraindicated in females who are pregnant. If this drug
                    is used during pregnancy or if the patient becomes pregnant while taking this drug, the
                    patient should be apprised of the potential risk to the fetus

        tr
          td(class="padding12" style="padding: 0 42px 0 30px;")
            table&attributes(tableAtt)
              tr
                td(align="left" class="p" style="padding-bottom: 10px;font-size: 14px;line-height: 1.2;font-family: Arial, Helvetica, sans-serif; font-weight: 400;").
                  #[span(style="font-weight:700;") Allergic Reactions:] REVLIMID is contraindicated in patients
                    who have demonstrated hypersensitivity (e.g., angioedema, Stevens-Johnson syndrome, toxic
                    epidermal necrolysis) to lenalidomide

        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;font-weight:700;color:#18bee7;padding:0 0 5px 30px; font-family: Arial, Helvetica, sans-serif;").
            #{precautions.Mtitle}

        tr
          td
            table&attributes(tableAtt)
              tr
                td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;padding:0 0 6px 30px;font-weight:700; font-family: Arial, Helvetica, sans-serif;").
                  Embryo-Fetal Toxicity: See Boxed WARNINGS

        tr
          td(class="padding12" style="padding: 0 30px 0 30px;")
            table&attributes(tableAtt)
              tr
                td(valign="top" class="bullet" style="font-size: 15px;padding-right: 2px; vertical-align: 4px; vertical-align: top; font-weight: bold;color: #4fc6ea;") •
                td(align="left" class="p" style="padding-bottom:8px;font-family: Arial, Helvetica, sans-serif; font-weight: 400;").
                  #[span(style="text-decoration:underline;") Females of Reproductive Potential]:
                  #[span(style="font-weight:700;") See Boxed WARNINGS]

        tr
          td(class="padding12" style="padding: 0 30px 0 30px;")
            table&attributes(tableAtt)
              tr
                td(valign="top" class="bullet" style="font-size: 15px;padding-right: 2px; vertical-align: 4px; vertical-align: top; font-weight: bold;color: #4fc6ea;") •
                td(align="left" class="p" style="padding-bottom:8px;font-family: Arial, Helvetica, sans-serif; font-weight: 400;").
                  #[span(style="text-decoration:underline;") Males]: Lenalidomide is present in the semen
                    of patients receiving the drug. Males must always use a latex or synthetic condom during
                    any sexual contact with females of reproductive potential while taking REVLIMID and for
                    up to 4 weeks after discontinuing REVLIMID, even if they have undergone a successful
                    vasectomy. Male patients taking REVLIMID must not donate sperm

        tr
          td(class="padding12" style="padding: 0 30px 0 30px;")
            table&attributes(tableAtt)
              tr
                td(valign="top" class="bullet" style="font-size: 15px;padding-right: 2px; vertical-align: 4px; vertical-align: top; font-weight: bold;color: #4fc6ea;") •
                td(align="left" class="p" style="padding-bottom:8px;font-family: Arial, Helvetica, sans-serif; font-weight: 400;").
                  #[span(style="text-decoration:underline;") Blood Donation]: Patients must not donate blood
                    during treatment with REVLIMID and for 4 weeks following discontinuation of the drug
                    because the blood might be given to a pregnant female patient whose fetus must not be
                    exposed to REVLIMID

        each val in precautions.paragraphs
          tr
            td(style="padding-right: 24px;")
              table&attributes(tableAtt)
                tr
                  td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;padding:10px 0 5px 30px;").
                    !{val}

        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;font-weight:700;color:#18bee7;padding:10px 0 5px 30px;").
            ADVERSE REACTIONS

        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;font-weight:700;padding:0 0 5px 30px;text-decoration:underline;").
            Multiple Myeloma

        tr
          td(class="padding12" style="padding-left:30px;")
            table&attributes(tableAtt)
              tr
                td(width="0" style="width:0px;color:#ffffff;font-size:1px;") .&nbsp;
                td(valign="top" class="bullet bullet_mobile bullet_desktop" style="padding-right: 2px; font-size: 15px; vertical-align: 4px; vertical-align: top; font-weight: bold; color:#18bee7;") •
                td(align="left" class="p" style="padding-bottom: 10px;text-align:left;")
                  font.
                    #[span(style="font-weight:700;") Maintenance Therapy Post-Auto HSCT:] The most frequently
                      reported Grade 3 or 4 reactions in ≥20% (REVLIMID arm) included neutropenia, thrombocytopenia,
                      and leukopenia. The serious adverse reactions of lung infection and neutropenia (more
                      than 4.5%) occurred in the REVLIMID arm

        tr
          td(class="padding12" style="padding-left:30px;")
            table&attributes(tableAtt)
              tr
                td(width="0" style="width:0px;color:#ffffff;font-size:1px;") .&nbsp;
                td(valign="top" class="bullet bullet_mobile bullet_desktop" style="padding-right: 2px; font-size: 15px; vertical-align: 4px; vertical-align: top; font-weight: bold; color:#18bee7;") •
                td(align="left" class="p" style="padding-bottom: 2px;text-align:left;")
                  font.
                    The most frequently reported adverse reactions in ≥20% (REVLIMID arm) across both maintenance
                    studies (Study 1, Study 2) were neutropenia (79%, 61%), thrombocytopenia (72%, 24%),
                    leukopenia (23%, 32%), anemia (21%, 9%), upper respiratory tract infection (27%,
                    11%), bronchitis (5%, 47%), nasopharyngitis (2%, 35%), cough (10%, 27%), gastroenteritis
                    (0%, 23%), diarrhea (55%, 39%), rash (32%, 8%), fatigue (23%, 11%), asthenia (0%,
                    30%), muscle spasm (0%, 33%), and pyrexia (8%, 21%)


        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;padding: 10px 0 5px 30px;font-weight:700;color:#18bee7;").
            DRUG INTERACTIONS
        tr
          td(class="padding12" style="padding: 0px 30px 0px 30px;")
            table&attributes(tableAtt)
              tr
                td(align="left" class="p" style="padding-bottom: 16px;").
                  Periodic monitoring of digoxin plasma levels is recommended due to increased C#[span(style="font-size:75%; vertical-align: -6px;") max]                                    and AUC with concomitant REVLIMID therapy. Patients taking concomitant therapies such
                    as erythropoietin stimulating agents or estrogen containing therapies may have an increased
                    risk of thrombosis. It is not known whether there is an interaction between dex and warfarin.
                    Close monitoring of PT and INR is recommended in patients with MM taking concomitant
                    warfarin

        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;padding:0 0 5px 30px;font-weight:700;color:#18bee7;").
            USE IN SPECIFIC POPULATIONS

        tr
          td(class="padding12" style="padding:10px 0 0 30px;")
            table&attributes(tableAtt)
              tr
                td(valign="top" class="bullet bullet_mobile bullet_desktop" style="padding-right: 2px; font-size: 15px; vertical-align: 4px; vertical-align: top; font-weight: bold; color:#18bee7;") •
                td(align="left" class="p" style="padding-bottom: 2px;text-align:left;")
                  font.
                    #[span(style="font-weight:700;color:#18bee7;") PREGNANCY:]
                    #[span(style="font-weight:700;") See Boxed WARNINGS:] If pregnancy does occur
                    during treatment, immediately discontinue the drug and refer patient to an obstetrician/gynecologist
                    experienced in reproductive toxicity for further evaluation and counseling. There
                    is a REVLIMID pregnancy exposure registry that monitors pregnancy outcomes in females
                    exposed to REVLIMID during pregnancy as well as female partners of male patients
                    who are exposed to REVLIMID. This registry is also used to understand the root cause
                    for the pregnancy. Report any suspected fetal exposure to REVLIMID to the FDA via
                    the MedWatch program at #[+tel_link("1-800-332-1088", "1-800-FDA-1088")] and also to Celgene Corporation at #[+tel_link("1-888-423-5436")]

        tr
          td(class="padding12" style="padding:10px 0 0px 30px;")
            table&attributes(tableAtt)
              tr
                td(valign="top" class="bullet bullet_mobile bullet_desktop" style="padding-right: 2px; font-size: 15px; vertical-align: 4px; vertical-align: top; font-weight: bold; color:#18bee7;") •
                td(align="left" class="p" style="padding-bottom: 2px;text-align:left;")
                  font.
                    #[span(style="font-weight:700;color:#18bee7;") LACTATION:] There is no information
                    regarding the presence of lenalidomide in human milk, the effects of REVLIMID on
                    the breastfed infant, or the effects of REVLIMID on milk production. Because many
                    drugs are excreted in human milk and because of the potential for adverse reactions
                    in breastfed infants from REVLIMID, advise female patients not to breastfeed during
                    treatment with REVLIMID]

        tr
          td(class="padding12" style="padding:10px 0 0px 30px;")
            table&attributes(tableAtt)
              tr
                td(valign="top" class="bullet bullet_mobile bullet_desktop" style="padding-right: 2px; font-size: 15px; vertical-align: 4px; vertical-align: top; font-weight: bold; color:#18bee7;") •
                td(align="left" class="p" style="padding-bottom: 2px;text-align:left;")
                  font.
                    #[span(style="font-weight:700;color:#18bee7;") PEDIATRIC USE:] Safety and effectiveness
                    have not been established in pediatric patients]

        tr
          td(class="padding12" style="padding:10px 0 0px 30px;")
            table&attributes(tableAtt)
              tr
                td(valign="top" class="bullet bullet_mobile bullet_desktop" style="padding-right: 2px; font-size: 15px; vertical-align: 4px; vertical-align: top; font-weight: bold; color:#18bee7;") •
                td(align="left" class="p" style="padding-bottom: 2px;text-align:left;")
                  font.
                    #[span(style="font-weight:700;color:#18bee7;") RENAL IMPAIRMENT:] Adjust the starting
                    dose of REVLIMID based on creatinine clearance value and in patients on dialysis]

        tr
          td(class="padding12 p" style="font-size: 14px;line-height: 1.2;font-weight:700;padding:10px 42px 8px 30px;text-align:left;").
            Please see full #[a(href="http://www.celgene.com/content/uploads/revlimid-pi.pdf" target="_blank" style="color:#18bee7;") Prescribing Information],
            including Boxed WARNINGS.
        +vSpacer(30)

        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;font-weight:700;padding:10px 0 5px 30px;").
            References:

        tr
          td(class="padding12" style="padding: 0 0 0 30px;")
            table&attributes(tableAtt)
              tr
                td(align="left" class="p" style="padding-bottom: 2px;text-align:left;")
                  font.
                    1. REVLIMID [package insert]. Summit, NJ:
                    <!--[if !mso]><!-->
                    #[br(style="display:none;" class="show")]
                    <!--<![endif]--> Celgene Corp; 2017.


        tr
          td(class="padding12" style="padding: 0 0 0 30px;")
            table&attributes(tableAtt)
              tr
                td(align="left" class="p" style="padding-bottom: 2px;text-align:left;").
                  #[font 2. Data on file. Celgene Corp; 2017.]
        +vSpacer(30)
<!-- END SAFETY MODULE -->
