<!-- START SAFETY MODULE -->
table(width=max_w align="center" class="deviceWidth" style="margin:0 auto;")&attributes(tableAtt)
  tr
    td
      table&attributes(tableAtt)
        tr
          td
            table
              tr
                td
                  td(style="height:10px;" height="10") &nbsp;

              tr
                td
                  a(href=arrow.url)
                    img(src=img_path+arrow.img  style="width: 100%;max-width: 100%;")

              tr
                td
                  td(style="height:10px;" height="10") &nbsp;

        tr
          td(align="left" style="line-height: 1;padding: 5px 15px 5px 15px;font-size: 23px;font-weight:700;color:#18bee7;font-family:'Roboto Condensed', Helvetica, Arial, sans-serif;").
            #{safety.title1}
        tr
          td(style="padding-bottom:15px;padding-left: 12px;padding-right: 12px;")
            table&attributes(tableAtt)
              tr
                td(style="border: solid 2px #000000; width:100%;")
                  table(width="100%")&attributes(tableAtt)
                    tr
                      td(align="top" style="padding:10px 10px 10px 10px;")
                        table&attributes(tableAtt)
                          tr
                            td(align="center" class="p" style="font-weight:700;font-size:14px;padding-bottom:6px;font-family: 'Roboto', Helvetica, Arial, sans-serif;").
                              #{warning.Mtitle}

                          tr
                            td(style="text-decoration:underline;font-weight:700;padding-bottom:4px; padding-bottom:0px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                              #{warning.title1}

                          tr
                            td(valign="top")
                              table&attributes(tableAtt)
                                tr
                                  td(align="left" style="font-weight: 700;padding-bottom: 12px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                                    !{warning.paragraph1 }
                                tr
                                  td(align="left" style="font-weight:700;padding-bottom: 12px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                                    !{warning.moreInfo }

                          tr
                            td(align="left" style="text-decoration:underline;font-weight:700;padding-bottom:0px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                              #{warning.title2 }

                          tr
                            td(style="font-weight:700;padding-bottom:12px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                              #{warning.paragraph2 }

                          tr
                            td(align="left" style="text-decoration:underline;font-weight:700;padding-bottom:0px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                              #{warning.title3 }

                          tr
                            td(style="font-weight:700;padding-bottom:10px;font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 14px;").
                              #{warning.paragraph3 }


        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;font-weight:700;color:#18bee7;padding:0 0 5px 30px;font-family: Arial, Helvetica, sans-serif;") CONTRAINDICATIONS

        tr
          td(class="padding12" style="padding: 0 42px 0 30px;")
            table&attributes(tableAtt)
              tr
                td(align="left" class="p" style="padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif;").
                  #[span(style="font-weight:700;") Lorem:]  Lorem ipsum.

        tr
          td(class="padding12" style="padding: 0 42px 0 30px;")
            table&attributes(tableAtt)
              tr
                td(align="left" class="p" style="padding-bottom: 10px;font-size: 14px;line-height: 1.2;font-family: Arial, Helvetica, sans-serif; font-weight: 400;").
                  #[span(style="font-weight:700;") Lorem:]  Lorem ipsum.

        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;font-weight:700;color:#18bee7;padding:0 0 5px 30px; font-family: Arial, Helvetica, sans-serif;").
            #{precautions.Mtitle}

        tr
          td
            table&attributes(tableAtt)
              tr
                td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;padding:0 0 6px 30px;font-weight:700; font-family: Arial, Helvetica, sans-serif;").
                  Lorem ipsum.

        tr
          td(class="padding12" style="padding: 0 30px 0 30px;")
            table&attributes(tableAtt)
              tr
                td(valign="top" class="bullet" style="font-size: 15px;padding-right: 2px; vertical-align: 4px; vertical-align: top; font-weight: bold;color: #4fc6ea;") •
                td(align="left" class="p" style="padding-bottom:8px;font-family: Arial, Helvetica, sans-serif; font-weight: 400;").
                  #[span(style="text-decoration:underline;") asdf]:
                  #[span(style="font-weight:700;") tttt]

        tr
          td(class="padding12" style="padding: 0 30px 0 30px;")
            table&attributes(tableAtt)
              tr
                td(valign="top" class="bullet" style="font-size: 15px;padding-right: 2px; vertical-align: 4px; vertical-align: top; font-weight: bold;color: #4fc6ea;") •
                td(align="left" class="p" style="padding-bottom:8px;font-family: Arial, Helvetica, sans-serif; font-weight: 400;").
                  #[span(style="text-decoration:underline;") Ipsum]:  Lorem ipsum.

        tr
          td(class="padding12" style="padding: 0 30px 0 30px;")
            table&attributes(tableAtt)
              tr
                td(valign="top" class="bullet" style="font-size: 15px;padding-right: 2px; vertical-align: 4px; vertical-align: top; font-weight: bold;color: #4fc6ea;") •
                td(align="left" class="p" style="padding-bottom:8px;font-family: Arial, Helvetica, sans-serif; font-weight: 400;").
                  #[span(style="text-decoration:underline;") L]:  Lorem ipsum.

        each val in precautions.paragraphs
          tr
            td(style="padding-right: 24px;")
              table&attributes(tableAtt)
                tr
                  td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;padding:10px 0 5px 30px;").
                    !{val}

        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;font-weight:700;color:#18bee7;padding:10px 0 5px 30px;").
             Lorem ipsum.

        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;font-weight:700;padding:0 0 5px 30px;text-decoration:underline;").
             Lorem ipsum.

        tr
          td(class="padding12" style="padding-left:30px;")
            table&attributes(tableAtt)
              tr
                td(width="0" style="width:0px;color:#ffffff;font-size:1px;") .&nbsp;
                td(valign="top" class="bullet bullet_mobile bullet_desktop" style="padding-right: 2px; font-size: 15px; vertical-align: 4px; vertical-align: top; font-weight: bold; color:#18bee7;") •
                td(align="left" class="p" style="padding-bottom: 10px;text-align:left;")
                  font.
                    #[span(style="font-weight:700;") L:]  Lorem ipsum.

        tr
          td(class="padding12" style="padding-left:30px;")
            table&attributes(tableAtt)
              tr
                td(width="0" style="width:0px;color:#ffffff;font-size:1px;") .&nbsp;
                td(valign="top" class="bullet bullet_mobile bullet_desktop" style="padding-right: 2px; font-size: 15px; vertical-align: 4px; vertical-align: top; font-weight: bold; color:#18bee7;") •
                td(align="left" class="p" style="padding-bottom: 2px;text-align:left;")
                  font.
                     Lorem ipsum.


        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;padding: 10px 0 5px 30px;font-weight:700;color:#18bee7;").
            LASDFAS
        tr
          td(class="padding12" style="padding: 0px 30px 0px 30px;")
            table&attributes(tableAtt)
              tr
                td(align="left" class="p" style="padding-bottom: 16px;").
                  Lorem ipsum.

        tr
          td(class="padding12 p" align="left" style="font-size: 14px;line-height: 1.2;padding:0 0 5px 30px;font-weight:700;color:#18bee7;").
             Lorem ipsum.

        tr
          td(class="padding12" style="padding:10px 0 0 30px;")
            table&attributes(tableAtt)
              tr
                td(valign="top" class="bullet bullet_mobile bullet_desktop" style="padding-right: 2px; font-size: 15px; vertical-align: 4px; vertical-align: top; font-weight: bold; color:#18bee7;") •
                td(align="left" class="p" style="padding-bottom: 2px;text-align:left;")
                  font.
                    #[span(style="font-weight:700;color:#18bee7;") IPSUM:]
                    #[span(style="font-weight:700;") LOREM:]  Lorem ipsum. #[+tel_link("1-000-000-0000", "1-800-XXX-XXXX")]]

        +vSpacer(30)

        tr
          td(class="padding12" style="padding: 0 0 0 30px;")
            table&attributes(tableAtt)
              tr
                td(align="left" class="p" style="padding-bottom: 2px;text-align:left;")
                  font.
                     Lorem ipsum.
                    <!--[if !mso]><!-->
                    #[br(style="display:none;" class="show")]
                    <!--<![endif]-->  Lorem ipsum.


        tr
          td(class="padding12" style="padding: 0 0 0 30px;")
            table&attributes(tableAtt)
              tr
                td(align="left" class="p" style="padding-bottom: 2px;text-align:left;").
                  #[font 2. lorem.]
        +vSpacer(30)
<!-- END SAFETY MODULE -->
